<div class="container-fluid footerSec py-4 mt-5">
  <div class="row text-md-start justify-content-evenly mt-3">
    <div class="col-12 col-md-3 mb-3 mb-md-0"> 
        <h1 class="mainHeading">
                <span class="gradientText">D'</span>
                <span class="mainHeadpart"> WEB <br class="d-none d-md-block"> SOLUTIONS.</span>
        </h1>

        <ul class="list-unstyled social-links m-0">
            <li class="d-flex gap-2 align-items-center">
                <i class="pi pi-at"></i> <a href="">dwebsolution0&#64;gmail.com</a>
            </li>
            <li class="d-flex gap-2 align-items-center">
                <i class="pi pi-facebook"></i> <a href="">dwebsolutions&#64;gmail.com</a>
            </li>
            <li class="d-flex gap-2 align-items-center">
                <i class="pi pi-instagram"></i> <a href="">dwebsolutions&#64;gmail.com</a>
            </li>
            <li class="d-flex gap-2 align-items-center">
                <i class="pi pi-whatsapp"></i> <p class="m-0">+92 348 3039196</p>
            </li>
            <li class="d-flex gap-2 align-items-center">
                <i class="pi pi-phone"></i> <p class="m-0">+92 348 3039196</p>
            </li>
        </ul>
    </div>

    <div class="col-12 col-md-3 mb-3 mb-md-0 d-flex flex-column justify-content-between">
        <h5>
            Quick Access
        </h5>
      <ul class="list-unstyled quickAccessList m-0">
        <li><p>Home</p>
        </li>
        <li>
            <p>Why Us?</p>
        </li>
        <li>
            <p>Our Services</p>
        </li>
        <li>
            <p>Projects</p>
        </li>
        <li>
            <p>Testimonials</p>
        </li>
        <li>
            <p>Our Team</p>
        </li>
        <li>
            <p>Contact Us</p>
        </li>
      </ul>
    </div>

    <div class="col-12 col-md-3 mb-3 mb-md-0 d-flex flex-column justify-content-between">
            <div>
                <h5>
                    Subscribe
                </h5>
                <p class="newsText">subscribe to our news letter.</p>

                <div class="d-flex align-items-center gap-3 mt-4">
                    <label class="custom-field">
                        <input type="email" placeholder=" " />
                        <span class="placeholder">youremailaddress&#64;gmail.com</span>
                    </label>
                    <button class="newsLetterSend">
                        <a href="" class="m-0">Send</a>
                    </button>
                    
                </div>
            </div>
            <div>
                <button class="letsTalk-btn">
                    <a href="" class="m-0 d-flex align-items-center gap-2">Let's Connect <i class="pi pi-arrow-up-right"></i></a>
                </button>

            </div>
    </div>
     </div>

  <div class="row mt-4">
    <div class="col-12 text-center small">
      © 2025 D'Web Soulutions | <a href="#">Privacy Policy</a>
    </div>
  </div>
</div>
