@font-face {
  font-family: 'PrimeIcons';
  font-weight: normal;
  font-style: normal;
  src: url("/assets/primeicons/fonts/primeicons.woff2") format("woff2"),
       url("/assets/primeicons/fonts/primeicons.woff") format("woff"),
       url("/assets/primeicons/fonts/primeicons.ttf") format("truetype"),
       url("/assets/primeicons/fonts/primeicons.eot");
}
