$text-color: #D923D0;
$primary-color: #6C06CB;
$secondary-color: #AA31EE;
$background-color: #520763;



.mainHeading h1{
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 110px;
    font-weight: 600;
    font-style: normal;

    .mainHeadpart{
        color: #fff;;
    }
}