<div class="video-wrapper">
  <video autoplay muted loop playsinline class="background-video">
    <source src="assets/background2.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <div class="mainContainer d-flex align-items-center justify-content-center text-center">
    <div class="container">
      <div class="row">
        <div class="col-12 px-4">
            <h1 class="mainHeading">
                <span class="gradientText">D'</span>
                <span class="mainHeadpart">WEB <br class="d-none d-md-block"> SOLUTIONS.</span>
            </h1>

          <p class="lead fw-light mt-3">
            "Code with Purpose, Design with Impact"
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
