 $whyus-text-gradient: linear-gradient(90deg, rgb(88, 62, 88) 0%, rgba(181, 100, 204, 1) 100%);
.mainContainer{
    padding: 2rem;
    background-color: #171515;
    border-radius: 80px 80px 0px 0px;
}

.line-wrapper {
  display: block;
  overflow: hidden;
}


h1{
    font-size: 42px;
    font-weight: 500;
    color: #FFFF;
}
.whyusText{
    color: #FFFF;
    font-size: 20px;

    strong
    {
         background:  $whyus-text-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        font-weight: 600;
    }
}

.proven-column{
    background-color: #f5f2f2;
    padding: 18px;
    border-radius: 12px;
    h2{
        font-weight: 600;
    }
}
.trust-column {
    padding: 18px;
  .trust-content {
    height: 100%; // or min-height: 300px; depending on your layout need
    display: flex;
    flex-direction: column;
    

    h2 {
      color: #fff;
      font-weight: 600;
    }

    p {
      color: #fff;
      margin-bottom: 0; // optional
    }
  }
}
.scalable-column{
    background-color: #f5f2f2;
    padding: 18px;
    border-radius: 12px;
    color: #111;
    h2{
        font-weight: 600;
    }
}
.support-column{
    padding: 18px;
    color: #fff;
    h2{
        font-weight: 600;
    }
}

.gsap-column {
  opacity: 1; // ensures animation is visible
  transform: translateY(50px);
  transition: opacity 0.3s, transform 0.3s;
}
