  <div class="team-container mt-5" id="our-founders">
    <!-- Header -->
   
  
    <h1 class="meet-team-title">MEET OUR FOUNDER'S</h1>
  
    <!-- Team Members -->
    <div class="team-grid">
      <!-- Mujtaba Siddiqui -->
        <div class="team-member d-flex flex-column align-items-center">
        <div class="image-container">
          <div class="profile-image">
            <img src="https://i.ibb.co/0RWPPmSc/ali-akbar-transparent.png" alt="ali-akbar-transparent"  class="short_img"> </div>
          </div>
          <h2 class="member-name">SYED ALI<br>AKBAR</h2>
          <p class="member-title">Director  / CTO </p>
        </div>
     

      <!-- Zayan Khan -->
      <div class="team-member d-flex flex-column align-items-center">
        <div class="image-container">
          <div class="profile-image">
<img src="https://i.ibb.co/rRYMczYg/erasebg-transformed-1.png" alt="erasebg-transformed-1">
                  </div>
        </div>
        <h2 class="member-name">MUHAMMAD<br>ZAYAN KHAN</h2>
        <p class="member-title">CEO  / CTO</p>
      </div>

      <!-- Syed Ali Akbar -->
      <!-- <div class="team-member d-flex flex-column align-items-center">
        <div class="image-container">
          <div class="profile-image">
         <img src="https://i.ibb.co/rRHpg6QW/transparent.png" alt="transparent" class="short_img"> </div>
        </div>
        <h2 class="member-name">MUHAMMAD MUJTABA<br>SIDDIQUI</h2>
        <p class="member-title">Chairman / CMO</p>
      </div> -->
    </div>
  </div>