  <div class="team-container">
    <!-- Header -->
   
  
    <h1 class="meet-team-title">MEET OUR TEAM</h1>
  
    <!-- Team Members -->
    <div class="team-grid">
      <!-- Mujtaba Siddiqui -->
        <div class="team-member">
        <div class="image-container">
          <div class="profile-image">
         <img src="https://i.ibb.co/0RWPPmSc/ali-akbar-transparent.png" alt="ali-akbar-transparent"  > </div>
        </div>
        <h2 class="member-name">SYED ALI<br>AKBAR</h2>
        <p class="member-title">Web Developer</p>
      </div>
     

      <!-- Zayan Khan -->
      <div class="team-member">
        <div class="image-container">
          <div class="profile-image">
<img src="https://i.ibb.co/rRYMczYg/erasebg-transformed-1.png" alt="erasebg-transformed-1">
                  </div>
        </div>
        <h2 class="member-name">MUHAMMAD<br>ZAYAN KHAN</h2>
        <p class="member-title">Web Developer</p>
      </div>

      <!-- Syed Ali Akbar -->
      <div class="team-member">
        <div class="image-container">
          <div class="profile-image">
         <img src="https://i.ibb.co/rRHpg6QW/transparent.png" alt="transparent" > </div>
        </div>
        <h2 class="member-name">MUJTABA<br>SIDDIQUI</h2>
        <p class="member-title">Director / Co-Founder</p>
      </div>
    </div>
  </div>