<div #whoWeAreSection class="mainContainer py-5 position-relative overflow-hidden">
  <!-- Left Star -->
  <img src="assets/images/whoweStar.png" alt="" class="starImg starLeft" />

  <!-- Right Star -->
  <img src="assets/images/whoweStar.png" alt="" class="starImg starRight" />

  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-12 col-md-8">
        <h3 class="whoWeAreHeading">
          We specialize in delivering <strong>innovative digital solutions</strong> to help businesses thrive online.
          <br class="d-none d-md-block" />
          Our expert team ensures your <strong>online presence</strong> is both engaging and effective.
        </h3>
      </div>
    </div>
  </div>
</div>
